body {
	background-color: white;
	background-image: url(images/bg-pattern.svg);
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
	font-family: 'Manrope', 'Manrope', sans-serif;
	color: #000000;
	text-align: center;
	font-size: 27px;
	font-weight: 900;
	color: hsl(218, 44%, 22%);
}

p {
	font-family: 'Manrope', 'Manrope', sans-serif;
	color: #000000;
	text-align: center;
	font-size: 15px;
	color: hsl(220, 15%, 55%);
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.intro {
	height: 180px;
	top: 400px;
	background-image: url(images/pattern-circles.svg);
	background-position: center 49px;
	background-size: 120px auto;
	background-repeat: no-repeat;
}
.intro-text {
	position: absolute;
	height: 180px;
	top: 75px;

	left: 50%;
	transform: translate(-50%, 0px);
}

.container {
	position: absolute;
	top: 400px;
	transform: translate(-50%, -50%);
	left: 50%;
}

.card {
	background-color: hsl(0, 0%, 100%);
	width: 400px;
	height: 350px;
	border-radius: 5px;
	box-shadow: 10px 10px;

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
